@model mvc.Repository.Models.Filho

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Filho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilhoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilhoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilhoDatadenascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilhoDatadenascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilhoFuncionarioMaeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilhoFuncionarioMaeNavigation.FuncionarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilhoFuncionarioPaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilhoFuncionarioPaiNavigation.FuncionarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FilhoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
